.right4{float:right;margin-top:10px;width: 282px;height: 115px;background: url(../images/right4.png) no-repeat;}
.right4 ul{width: 242px; height: 102px;margin-top:8px ;}
.right4 ul li{float:left; width: 96px; height: 28px;margin-right:20px ;list-style: none;border: none;}
